In [7]:
import numpy as np
import pandas as pd

In [9]:
from pandas import *
from numpy import *


# DataFrame (Pandas)

## 一、生成一个DataFrame
### 1. 存整数的DataFrame

In [10]:
df = DataFrame(np.arange(16).reshape(4,4), index= list("ABCD"), columns=list('wxyz'))
df

    w   x   y   z
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15

In [14]:
df = DataFrame(np.random.randint(low=0, high=10, size=(3,5)))
df

   0  1  2  3  4
0  5  1  0  7  2
1  5  9  0  0  3
2  8  8  6  0  8

### 2. 浮点数的DataFrame